<div class="modal-header">
  <h1>Edit Task</h1>
</div>
<%= simple_form_for @task, class: 'clearfix' do |f| %>
  <div class="modal-body">

    <%= render partial: "form", locals:{ f: f } %>
    <%= f.input :completed %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>