<div class="modal-header text-center">
  <h2>New Task</h2>
</div>
<%= simple_form_for @task, class: 'clearfix' do |f| %>
  <div class="modal-body text-center">

    <%= f.input :title %>

  </div>
  <div class="modal-footer">
    <%= link_to 'Back', root_path, class: 'btn btn-primary'%><%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>