<div class="modal-header">
  <h1>New Task</h1>
</div>
<%= simple_form_for @task, class: 'clearfix' do |f| %>
  <div class="modal-body">

    <%= render partial: "form", locals:{ f: f } %>

  </div>
  <div class="modal-footer">
    <%= link_to 'Back', root_path, class: 'btn btn-primary'%><%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>