header {
	background-color: #fff;
	border-bottom: 1px solid;
	border-bottom-color: #e6e6e6;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

.h1 {
	font-weight: 100;
	font-size: 4.5rem;
    font-family: monospace;
	color: #EDD5D6;
	margin: auto;
	margin-top: 20px;
}

.pad-rig-20 {
	padding-right: 20px;
}

.pad-9 {
	padding: 9px;
	margin-right: 48px;
}

.box-shad {
	box-shadow: 0px 5px 17px 5px #b7b7b7;
}
